.chat {
  margin: 10px;
  height: calc(100vh - 170px);
  display: flex;
  flex-direction: column;
}

.btn-back {
  border: 2px solid #666;
  color: #666;
  padding: 8px 12px;
  border-radius: 5px;
  height: auto;
  font-weight: bold;
  width: min-content;
}

.chat-header {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  gap: 10px;
  margin: 10px 0;
}

.chat-header button {
  color: #666;
  font-weight: bold;
  border-left: 2px solid #666;
  padding-left: 10px;
}

.chat-messages {
  display: flex;
  flex-direction: column;
  overflow-y: auto;
  padding: 0 20px;
  margin: 0 40px;
  height: 100%;
}

.message {
  display: flex;
  flex-direction: column;
  width: max-content;
  max-width: 80%;
  min-width: 150px;
  margin-top: 15px;
}

.my-message {
  align-self: self-end;
}

.my-message-user {
  background-color: #0056b3 !important;
}

.my-message-support {
  background-color: #d63333 !important;
}

.other-message {
  align-self: flex-start;
}

.message p {
  background-color: #666;
  border-radius: 20px;
  color: white;
  padding: 10px;
  border-radius: 20px;
}

.message-status {
  align-self: self-end;
  color: #666;
  font-size: 0.8em;
  margin: 0 5px;
  margin-top: 5px;
}

.message small {
  color: #666;
  font-size: 0.8em;
  padding: 0 5px;
  margin-bottom: 2px;
}

.chat-input {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  margin-top: 10px;
  padding: 5px;
  justify-self: end;
  max-width: 1000px;
  width: 100%;
}

.chat-input input {
  width: 100%;
  padding: 10px;
  border: 2px solid black;
  border-radius: 20px;
}

.chat-input button {
  margin-left: 10px;
  font-weight: bold;
  font-size: 0.9em;
}

.no-conversation-found {
  color: #666;
  width: 100%;
  font-weight: bold;
  text-align: center;
  position: absolute;
  top: 50%;
  transform: translateY(50%);
}

@media only screen and (max-width: 780px) {
  .chat-messages {
    margin: 20px;
  }
}

@media only screen and (max-width: 480px) {
  .message {
    max-width: 90%;
  }

  .chat-header {
    flex-direction: column;
    text-align: center;
  }
  .chat-messages {
    padding: 0 5px;
    margin: 0;
  }

  .chat-input {
    padding: 0;
    margin-top: 10px;
  }

  .chat-header button {
    padding-left: 0;
    border: none;
  }
}
